:root {
	--bg: gray;
    --nav: rgb(140, 140, 140);
    --nav-text: rgb(195, 195, 195);
    --nav-button-pressed: rgb(215, 215, 215);
    --nav-button-pressed-text: rgb(120, 120, 120);
    --nav-button-pressed-border: rgb(240, 240, 240);
	--menu: rgb(100, 190, 100);
}

[page="form"] {
	--bg: lightsteelblue;
	--nav: rgb(140, 140, 255);
    --nav-text: rgb(240, 240, 240);
	
    --nav-button-pressed: rgb(215, 215, 215);
    --nav-button-pressed-text: rgb(240, 240, 240);
    --nav-button-pressed-border: rgb(240, 240, 240);
	--menu: rgb(100, 190, 100);
}