html {
  color: white;
}

a {
  color: #102c5d;
}

.div {
  border-style: double;
  border-color: cornflowerblue;
}

.dnld_u {
  background: #FFAF00;
  color: #FFF200;
  height: 180px;
  width: 180px;
  border-color: aqua;
  font-size: 25px;
}

.dnld_d {
  background: #FFAFCC;
  color: #FFF2CC;
  height: 180px;
  width: 180px;
  border-color: coral;
  font-size: 25px;
}

.name {
  width: 15%;
  height: auto;
}

.down{
	display: flex;
}

button {
  vertical-align: middle;
}