body {
	background-color: var(--bg);
}
.form {
	background-color: var(--bg);
	display: flex;
	height: calc(100vh - 100px);
	justify-content: center;
	align-items: center;
}
.spec_form {
	background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    outline: double;
    border-radius: 5px;
    outline-color: blueviolet;
    outline-offset: 10px;
}
.in {
    font-size: smaller;
    border-radius: 5px;
    border: double;
    border-color: aqua;
    background-color: aliceblue;
}
.submit {
    background-color: cornflowerblue;
    font-size: larger;
    color: aliceblue;
}
span.required {
	color: red;
}
.navbar {
    background-color: var(--nav);
    color: var(--nav-text);
}