html {
    font-size: 25px;
}
body {
    margin: 0;
}
.form {
	background-color: lightsteelblue;
	display: flex;
	height: calc(100vh - 100px);
	justify-content: center;
	align-items: center;
}
.spec_form {
	background-color: lightsteelblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    outline: double;
    border-radius: 5px;
    outline-color: blueviolet;
    outline-offset: 10px;
}
.in {
    font-size: smaller;
    border-radius: 5px;
    border: double;
    border-color: aqua;
    background-color: aliceblue;
}
.submit {
    background-color: cornflowerblue;
    font-size: larger;
    color: aliceblue;
}
span.required {
	color: red;
}
.navbar {
    background-color: rgb(140, 140, 255);
    color: rgb(240 240 240);
    height: 100px;
}
.navbar_div {
    display: flex;
    justify-content: space-between;
}
img {
	height: 90px;
}
.name {
    font: caption;
    font-size: xxx-large;
    font-style: italic;
    font-weight: bold;
    height: 100px;
    display: flex;
    align-items: center;
}
.navbar-button {
    color: rgb(140, 140, 140);
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: double;
    display: grid;
    justify-content: center;
    align-items: center;
}