html {
    font-size: 25px;
}
body {
    margin: 0px;
    background-color: var(--bg);
}
.menu {
	background-color: var(--menu);
}
.navbar {
	background-color: var(--nav);
	color: var(--nav-text);
	height: 100px;
}
.navbar-button {
	color: var(--nav);
	height: 100px;
	width: 100px;
	border-radius: 5px;
	border: double;
    display: grid;
    justify-content: center;
    align-items: center;
}
.pressed {
	background-color: var(--nav-button-pressed);
	color: var(--nav-button-pressed-text);
	border-color: var(--nav-button-pressed-border);
}
.name {
	font-family: AlexisOne;
	font-size: xxx-large;
	font-style: italic;
	font-weight: bold;
	height: 100px;
	display: flex;
	align-items: center;
}
.navbar_div {
   	display: flex;
   	justify-content: space-between;
}
img {
	height: 90px;
}
.adm_main {
    outline: double;
    border-radius: 5px;
    outline-color: blueviolet;
    outline-offset: 10px;
}
@font-face {
    font-family: "AlexisOne";
    src: url("/static/font/Alexis-One.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}