.text {
	color: black;
}
.message {
    display: flex;
    justify-content: space-between;
    outline: double;
    border-radius: 5px;
    outline-color: blueviolet;
    outline-offset: 7.5px;
    margin: 25;
}
a.ml {
	text-decoration: none;
	color: black;
}