<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>{{name}}</title>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<link href="{{ url_for('static', filename='css/color.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/Mstyle.css') }}" rel="stylesheet" type="text/css" />
	<link rel="icon" sizes="256x256" type="image/ico" href="{{ url_for('static', filename='img/Mf.ico') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
</head>
<body>
	<header>
		<nav class="navbar">
			<div class="navbar_div">
				<a href="/" class="navbar name">
					<img src="{{ url_for('static', filename='img/pr.png') }}">
					Почта
				</a>
				<div>
					<button type="button" class="navbar-button " id="menu_button" onclick="func()">
						{{session['user'].split(' ')[0]}}
						{{session['user'].split(' ')[1]}}
						{{session['user'].split(' ')[2]}}
					</button>
				</div>
			</div>
		</nav>
		<div id="menu" class="menu" style="display: none">
			{% block menu %}{% endblock menu %}
		</div>
	</header>
	{% block body %}{% endblock body %}
</body>
</html>