{% extends "Bases/FormBase.html" %}
{% block title %}О нас{% endblock title %}
{% block menu %}
	<ul>
		<li><a href="/lk">{{prompt}}</a></li>
		<li><a href="/flight">Сервис для отслеживания самолётов.</a></li>
		<li><a href="/train">Сервис для отслеживания поездов.</a></li>
		<li><a href="/Ums">Сервис для наблюдения за погодой.</a></li>
		<hr>
		<li><a href="/down">Сервис для скачивания последних версий приложений наших парнёров.</a></li>
	</ul>
{% endblock menu %}
{% block body %}
	<link href="{{ url_for('static', filename='css/down.css') }}" rel="stylesheet" type="text/css" />
	<center>
		<p>
			<button type="button" class="dnld_u" id="Flight">
				Flight
			</button>
			<button type="button" class="dnld_u" id="Train">
				Train
			</button>
		</p>
	</center>
	<div>
		<div class="div" id="win_f" style="display: none">
			<div class="name">
				<h1>Flight</h1>
			</div>
			<div class="down">
				<div>
					<h2>Flight.</h2>
					<br>
					
				</div>
			</div>
		</div>
		<br>
		<div class="div" id="win_t" style="display: none">
			<div class="name">
				<h1>Train</h1>
			</div>
			<div class="down">
				<div>
					<h2>Train.</h2>
					<br>
					
				</div>
			</div>
		</div>
	</div>
	<script>
		function func () {
			var menu = document.getElementById("menu");
			var menu_button = document.getElementById("menu_button");
			var img = document.getElementById("img");
			see_menu(menu_button, menu, img);
		}
	</script>
	<script>
		let Flight = document.getElementById("Flight")
		let wf = document.getElementById("win_f")
		let Train = document.getElementById("Train")
		let wt = document.getElementById("win_t")

		Flight.addEventListener('click', () => {
			if (Flight.className == "dnld_u") {
				Flight.className = "dnld_d";
			}
			else {
				Flight.className = "dnld_u";
			}
			wf.style.display === 'none' ? wf.style.display = 'block' : wf.style.display = 'none';
		});

		Train.addEventListener('click', () => {
			if (Train.className == "dnld_u") {
				Train.className = "dnld_d";
			}
			else {
				Train.className = "dnld_u";
			}
			wt.style.display === 'none' ? wt.style.display = 'block' : wt.style.display = 'none';
		});
	</script>
{% endblock body %}