{% extends "Bases/BaseBase.html" %}
{% block title %}О нас{% endblock title %}
{% block body %}
	<link href="{{ url_for('static', filename='css/down.css') }}" rel="stylesheet" type="text/css" />
	<center>
		<p>
			<button type="button" class="dnld_u" id="Flight">
				Сервис для отслеживания самолётов
			</button>
			<button type="button" class="dnld_u" id="Train">
				Сервис для отслеживания поездов
			</button>
			<button type="button" class="dnld_u" id="Sun">
				Сервис для наблюдения за уровнем солнечной активности.
			</button>
			<button type="button" class="dnld_u" id="We">
				Мы.
			</button>
		</p>
	</center>
	<div>
		<div class="div" id="win_f" style="display: none">
			<div class="name">
				<h1>Сервис для отслеживания самолётов</h1>
			</div>
			<div>
				<p>
					Данные для "Сервиса для отслеживания самолётов" взяты из открытого источника, сайта
					<a href="https://flightradar24.com">Flightradar24</a>, и не претендуют на максимальную точность.
					<small>Причина неоответствия данных нам не известна.</small>
				</p>
				<p>
					Mы советуем вводить в этом разделе номера только текущих рейсов, иначе система может
					вернуть несуществующие данные. Причина такого исхода не известна.
				</p>
			</div>
		</div>
		<br>
		<div class="div" id="win_t" style="display: none">s
			<div class="name">
				<h1>Сервис для отслеживания поездов</h1>
			</div>
			<div>
				<p>
					Данные о расписании поездов для "Сервиса для отслеживания поездов" взяты из открытого источника, сайта
					<a href="https://rzd.ru">ОАО «РЖД»</a>, раздел Пассажирам -> Поезда и маршруты -> Фактическое движение поездов.
				</p>
			</div>
		</div>
		<br>
		<div class="div" id="win_s" style="display: none">
			<div class="name">
				<h1>Сервис для наблюдения за уровнем солнечной активности</h1>
			</div>
			<div>
				<p>
					Данные об активности солнца для "Сервиса для наблюдения за уровнем солнечной активности" взяты из открытого источника, сайта
					<a href="https://xras.ru">Лаборатории солнечной астрономии ИКИ РАН и ИСЗФ СО РАН</a>, раздел КОСМИЧЕСКАЯ ПОГОДА -> Вспышки на Солнце.
				</p>
			</div>
		</div>
		<br>
		<div class="div" id="win_w" style="display: none">
			<div class="name">
				<h1>Мы</h1>
			</div>
			<div>
				<p>
					Этот сайт - мой личный проект, а также страница моей "компании" МНДК (Маленький Но Дружный Коллектив (из одного человека ― меня)).
					Сайт является OpenSource проектом и его основной код располагается в моих репозиториях 
					<a href="https://gitlab.com/Elektron0110/WebPython">gitlab</a> и <a href="https://github.com/Elektron0110/WebPython">github</a>.
					<br>
					Вся конфедициальная информация пользователей из репозитория удалена.
					<br>
					Если у Вас есть идеи по доработке моего сайта, пишите в репозиториях или на <a href="{{email}}">почту</a>.
				</p>
			</div>
		</div>
	</div>
	<script>
		let Flight = document.getElementById("Flight")
		let wf = document.getElementById("win_f")
		let Train = document.getElementById("Train")
		let wt = document.getElementById("win_t")
		let Sun = document.getElementById("Sun")
		let ws = document.getElementById("win_s")
		let We = document.getElementById("We")
		let ww = document.getElementById("win_w")

		Flight.addEventListener('click', () => {
			if (Flight.className == "dnld_u") {
				Flight.className = "dnld_d";
			}
			else {
				Flight.className = "dnld_u";
			}
			wf.style.display === 'none' ? wf.style.display = 'block' : wf.style.display = 'none';
		});

		Train.addEventListener('click', () => {
			if (Train.className == "dnld_u") {
				Train.className = "dnld_d";
			}
			else {
				Train.className = "dnld_u";
			}
			wt.style.display === 'none' ? wt.style.display = 'block' : wt.style.display = 'none';
		});

		Sun.addEventListener('click', () => {
			if (Sun.className == "dnld_u") {
				Sun.className = "dnld_d";
			}
			else {
				Sun.className = "dnld_u";
			}
			ws.style.display === 'none' ? ws.style.display = 'block' : ws.style.display = 'none';
		});

		We.addEventListener('click', () => {
			if (We.className == "dnld_u") {
				We.className = "dnld_d";
			}
			else {
				We.className = "dnld_u";
			}
			ww.style.display === 'none' ? ww.style.display = 'block' : ww.style.display = 'none';
		});
	</script>
{% endblock body %}