{% extends "Bases/FormBase.html" %}
{% block title %}О нас{% endblock title %}
{% block menu %}
	<ul>
		<li><a href="/lk">{{prompt}}</a></li>
		<li><a href="/flight">Сервис для отслеживания самолётов.</a></li>
		<li><a href="/train">Сервис для отслеживания поездов.</a></li>
		<li><a href="/Ums">Сервис для наблюдения за погодой.</a></li>
		<li><a href="/sun">Сервис для наблюдения за уровнем солнечной активности.</a></li>
		<hr>
		<li><a href="/down">Сервис для скачивания последних версий приложений наших парнёров.</a></li>
	</ul>
{% endblock menu %}
{% block body %}
	<link href="{{ url_for('static', filename='css/down.css') }}" rel="stylesheet" type="text/css" />
	<center>
		<p>
			<button type="button" class="dnld_u" id="Flight">
				Сервис для отслеживания самолётов
			</button>
			<button type="button" class="dnld_u" id="Train">
				Сервис для отслеживания поездов
			</button>
			<button type="button" class="dnld_u" id="Sun">
				Сервис для наблюдения за уровнем солнечной активности.
			</button>
		</p>
	</center>
	<div>
		<div class="div" id="win_f" style="display: none">
			<div class="name">
				<h1>Сервис для отслеживания самолётов</h1>
			</div>
			<div>
				<p>
					Данные для "Сервиса для отслеживания самолётов" взяты из открытого источника, сайта
					<a href="flightradar24.com">Flightradar24</a>, и не претендуют на максимальную точность.
					<small>Причина неоответствия данных нам не известна.</small>
				</p>
				<p>
					Mы советуем вводить в этом разделе номера только текущих рейсов, иначе система может
					вернуть несуществующие данные. Причина такого исхода не известна.
				</p>
			</div>
		</div>
		<br>
		<div class="div" id="win_t" style="display: none">
			<div class="name">
				<h1>Сервис для отслеживания поездов</h1>
			</div>
			<div>
				<p>
					Данные о расписании поездов для "Сервиса для отслеживания поездов" взяты из открытого источника, сайта
					<a href="flightradar24.com">ОАО «РЖД»</a>, раздел Пассажирам -> Поезда и маршруты -> Фактическое движение поездов.
				</p>
			</div>
		</div>
		<br>
		<div class="div" id="win_s" style="display: none">
			<div class="name">
				<h1>Сервис для наблюдения за уровнем солнечной активности</h1>
			</div>
			<div>
				<p>
					Данные об активности солнца для "Сервиса для наблюдения за уровнем солнечной активности" взяты из открытого источника, сайта
					<a href="xras.ru">Лаборатории солнечной астрономии ИКИ РАН и ИСЗФ СО РАН</a>, раздел КОСМИЧЕСКАЯ ПОГОДА -> Вспышки на Солнце.
				</p>
			</div>
		</div>
	</div>
	<script>
		function func () {
			var menu = document.getElementById("menu");
			var menu_button = document.getElementById("menu_button");
			var img = document.getElementById("img");
			see_menu(menu_button, menu, img);
		}
	</script>
	<script>
		let Flight = document.getElementById("Flight")
		let wf = document.getElementById("win_f")
		let Train = document.getElementById("Train")
		let wt = document.getElementById("win_t")
		let Sun = document.getElementById("Sun")
		let ws = document.getElementById("win_s")

		Flight.addEventListener('click', () => {
			if (Flight.className == "dnld_u") {
				Flight.className = "dnld_d";
			}
			else {
				Flight.className = "dnld_u";
			}
			wf.style.display === 'none' ? wf.style.display = 'block' : wf.style.display = 'none';
		});

		Train.addEventListener('click', () => {
			if (Train.className == "dnld_u") {
				Train.className = "dnld_d";
			}
			else {
				Train.className = "dnld_u";
			}
			wt.style.display === 'none' ? wt.style.display = 'block' : wt.style.display = 'none';
		});

		Sun.addEventListener('click', () => {
			if (Sun.className == "dnld_u") {
				Sun.className = "dnld_d";
			}
			else {
				Sun.className = "dnld_u";
			}
			ws.style.display === 'none' ? ws.style.display = 'block' : ws.style.display = 'none';
		});
	</script>
{% endblock body %}