{% extends "Bases/ALINBase.html" %}
{% block page %}form{% endblock page %}
{% block title %}Личный кабинет{% endblock title %}
{% block menu %}
	<ul>
		<li><a href="/new">Оставить заявку</a></li>
		<li><a href="/update">Обновление данных</a></li>
		<li><a href="log">Логи</a></li>
		<li><a href="/logout">Выход</a></li>
	</ul>
{% endblock menu %}
{% block body %}
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
	<div class="adm_main" style="margin: 50px;">
		<div class="adm_main">
			<ul>
				{% for el in u %}
				<li>{{el}}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="adm_main">
			<ul>
				{% for el in d %}
				<li>{{el}}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="adm_main">
			<ul>
				{% for el in c %}
				<li>{{el}} - {{c[el]}}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="adm_main">
			<ul>
				{% for el in l %}
				<li>{{el}} - {% for r in l[el] %}{{r}}, {% endfor %}</li>
				{% endfor %}
			</ul>
		</div>
		<div class="adm_main">
			<ul>
				{% for el in a %}
				<li>{{el}}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="spec_form" style="margin: 30px;">
		<br>
		<div style="margin: 10px">
			<form method="post" style="margin: 20px" action="/adm/del">
				<select required name="way" class="in">
					<option value=""> --- Кого удалить --- </option>
					{% for user in u %}
					{% for data in d %}
					{% if data.email == user.email %}
    				<option value="{{user.email}}">{{data.s}} {{data.f}} {{data.t}}</option>
					{% endif %}
					{% endfor %}
					{% endfor %}
				</select>
				<input type="submit" value="Отправить" class="in submit">
			</form>
			<br>
			<form method="post" style="margin: 20px" action="/adm/update">
				<select required name="way" class="in">
					<option value=""> --- Кого обновить --- </option>
					{% for user in u %}
					{% for data in d %}
					{% if data.email == user.email %}
       				<option value="{{user.email}}">{{data.s}} {{data.f}} {{data.t}}</option>
					{% endif %}
					{% endfor %}
					{% endfor %}
				</select>
				<input type="submit" value="Отправить" class="in submit">
			</form>
		</div>
	</div>
{% endblock body %}