{% extends "Bases/MainBase.html" %}
{% block page %}form{% endblock page %}
{% block title %}Регистрация{% endblock title %}
{% block body %}
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
	<div class="form">
		<form method="post">
			<div style="display: grid; justify-content: center;">
				<input required type="text" name="name" class="in" placeholder="Логин">
				<br>
				<input required type="text" name="pass" class="in" placeholder="Пароль">
				<input name="thing" value="login" style="display: none">
				<br>
			</div>
			<center>
				<input type="submit" value="Регистрация" class="in submit">
			</center>
		</form>
	</div>
{% endblock body %}