{% extends "Bases/ALINBase.html" %}
{% block title %}Обновление{% endblock title %}
{% block body %}
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
	<div class="form">
		<form method="post" action="/update">
			<div style=" display: grid; justify-content: center;">
				<input required type="text" name="s" class="in" placeholder="Фамилия" value="{{session['user'].split(' ')[0]}}">
				<br>
				<input required type="text" name="f" class="in" placeholder="Имя" value="{{session['user'].split(' ')[1]}}">
				<br>
				<input required type="text" name="t" class="in" placeholder="Отчество" value="{{session['user'].split(' ')[2]}}">
				<br>
				<input required type="tel" name="tel" class="in" placeholder="+7 (___) ___-__-__" id="tel" maxlength="18" value="{{tel}}">
				<br>
				<label>
					Ваш день рождения.
					<input required type="date" name="b_day" class="in" max="{{date}}" value="{{birthday}}">
				</label>
				<br>
			</div>
			<center>
				<input type="submit" value="Обновить" class="in submit">
			</center>
		</form>
		<a href="/lk" class="in submit">Назад</a>
	</div>
	<script src="{{ url_for('static', filename='js/reg.js') }}"></script>
{% endblock body %}