{% extends "Bases/ALINBase.html" %}
{% block title %}Рассада{% endblock title %}
{% block body %}
    <div style="
                display: flex;
                justify-content: center;
                align-items: center;">
        <table border="3" cellpadding="7">
            <tr>
                <td></td>
                <th>1</th>
                <th>2</th>
                <th>3</th>
            </tr>
            <tr>
                <th>1</th>
                <td>
                    <center>
                        <button style="height: 35;">ЛН</button> | <button style="height: 35;">ИР</button>
                    </center>
                </td>
                <td>
                    <center>
                        <button style="height: 35;">АД</button> | <button style="height: 35;">КВ</button>
                    </center>
                </td>
                <td>
                    <center>
                        <button style="height: 35;">ГР</button> | <button style="height: 35;">ИМ</button>
                    </center>
                </td>
            </tr>
            <tr>
                <th>2</th>
                <td>
                    <center>
                        <button style="height: 35;">ПС</button> | <button style="height: 35;">КЕ</button>
                    </center>
                </td>
                <td>
                    <center>
                        <button style="height: 35;">ХД</button> | <button style="height: 35;">СА</button>
                    </center>
                </td>
                <td>
                    <center>
                        <button style="height: 35;">РМ</button> | <button style="height: 35;">ПМ</button>
                    </center>
                </td>
            </tr>
            <tr>
                <th>3</th>
                <td>
                    <center>
                        <button style="height: 35;">ЗВ</button> | <button style="height: 35;">ЧД</button>
                    </center>
                </td>
                <td>
                    <center>
                        <button style="height: 35;">РЮ</button> | <button style="height: 35;">ХТ</button>
                    </center>
                </td>
                <td>
                    <center>
                        <button style="height: 35;">ШГ</button> | <button style="height: 35;">КИ</button>
                    </center>
                </td>
            </tr>
            <tr>
                <th>4</th>
                <td>
                    <center>
                        <button style="height: 35;">❌</button> | <button style="height: 35;">ДИ</button>
                    </center>
                </td>
                <td>
                    <center>
                        <button style="height: 35;">ША</button> | <button style="height: 35;">❌</button>
                    </center>
                </td>
                <td>
                    <center>
                        <button style="height: 35;">БВ</button> | <button style="height: 35;">СМ</button>
                    </center>
                </td>
            </tr>
            <tr>
                <th>5</th>
                <td>
                    <center>
                        <button style="height: 35;">❌</button> | <button style="height: 35;">БА</button>
                    </center>
                </td>
                <td>
                    <center>
                        <button style="height: 35;">❌</button> | <button style="height: 35;">ВН</button>
                    </center>
                </td>
                <td>
                    <center>
                        <button style="height: 35;">ХК</button> | <button style="height: 35;">ММ</button>
                    </center>
                </td>
            </tr>
        </table>
    </div>
{% endblock body %}