{% extends "Bases/MainBase.html" %}
{% block title %}РассАнДа{% endblock title %}
{% block body %}
	<style>
		button.person {
			height: 35px;
			width: 35px;
			font-size: clamp(5px, 1vw, 18px);
		}
	</style>
	<div style="
				display: flex;
				justify-content: center;
				align-items: center;">
		<table border="3" cellpadding="7">
			<tr>
				<td></td>
				<th>1</th>
				<th>2</th>
				<th>3</th>
			</tr>
			<tr> <!-- 1 Ряд -->
				<th>1</th>
				<td>
					<center>
						<button class="person">ЛаН</button> | <button class="person">ИнР</button>
					</center>
				</td>
				<td>
					<center>
						<button class="person">АнД</button> | <button class="person">КлВ</button>
					</center>
				</td>
				<td>
					<center>
						<button class="person">ГаР</button> | <button class="person">ИсМ</button>
					</center>
				</td>
			</tr>
			<tr> <!-- 2 Ряд -->
				<th>2</th>
				<td>
					<center>
						<button class="person">ПлС</button> | <button class="person">КиЕ</button>
					</center>
				</td>
				<td>
					<center>
						<button class="person">ХоД</button> | <button class="person">СтА</button>
					</center>
				</td>
				<td>
					<center>
						<button class="person">РаМ</button> | <button class="person">ПлМ</button>
					</center>
				</td>
			</tr>
			<tr> <!-- 3 Ряд -->
				<th>3</th>
				<td>
					<center>
						<button class="person">ЗаВ</button> | <button class="person">ЧеД</button>
					</center>
				</td>
				<td>
					<center>
						<button class="person">РаЮ</button> | <button class="person">ХаТ</button>
					</center>
				</td>
				<td>
					<center>
						<button class="person">ШуГ</button> | <button class="person">КрИ</button>
					</center>
				</td>
			</tr>
			<tr> <!-- 4 Ряд -->
				<th>4</th>
				<td>
					<center>
						<button class="person">❌</button> | <button class="person">ДуИ</button>
					</center>
				</td>
				<td>
					<center>
						<button class="person">ШуА</button> | <button class="person">❌</button>
					</center>
				</td>
				<td>
					<center>
						<button class="person">БуВ</button> | <button class="person">СаМ</button>
					</center>
				</td>
			</tr>
			<tr> <!-- 5 Ряд -->
				<th>5</th>
				<td>
					<center>
						<button class="person">❌</button> | <button class="person">БлА</button>
					</center>
				</td>
				<td>
					<center>
						<button class="person">ОвК</button> | <button class="person">ВыН</button>
					</center>
				</td>
				<td>
					<center>
						<button class="person">ХаК</button> | <button class="person">МаМ</button>
					</center>
				</td>
			</tr>
		</table>
	</div>
	<div style="display: flex; justify-content: space-evenly;">
		<button class="person">БуА</button>
		<button class="person">БеВ</button>
		<button class="person">НаЕ</button>
	</div>
	<script>
		var lst = [];
		var names = {
			"ЛаН": "Ларионов Никита", "ИнР": "Инкин Роман", "АнД": "Андреева Дарья",
			"КлВ": "Климовская Валерия", "ГаР": "Гамзатов Руслан", "ИсМ": "Исупов Максим",
			"ПлС": "Плюснин Семён", "КиЕ": "Киселёва Елизавета", "ХоД": "Хомченко Дарья",
			"СтА": "Студенцов Артём", "РаМ": "Ракова Мирослава", "ПлМ": "Плакидина Милена",
			"ЗаВ": "Закирова Виктория", "ЧеД": "Чечулин Денис", "РаЮ": "Радомская Юлия",
			"ХаТ": "Хайиткулов Тимур", "ШуГ": "Шутенко Гавриил", "КрИ": "Кривицкий Илья",
			"ДуИ": "Дунин Иван", "ШуА": "Шульган Алексей", "ОвК": "Овчаренко Кирилл",
			"БуВ": "Буханков Владимир", "СаМ": "Сафаров Мехроб", "БлА": "Блюм Александр",
			"ВыН": "Выборнов Никита", "ХаК": "Хазов Кирилл", "МаМ": "Максимов Максим",
			"БуА": "Бурда Алеся", "БеВ": "Бережнов Виктор", "НаЕ": "Наливкина Елизавета",
			"❌": "❌"
		};
		var weights = {
			"ЛаН": 1, "ИнР": 1, "АнД": 1, "КлВ": 3, "ГаР": 3.2, "ИсМ": 1, "ПлС": 1, "КиЕ": 1, "ХоД": 0.7,
			"СтА": 1.1, "РаМ": 3.2, "ПлМ": 1, "ЗаВ": 1, "ЧеД": 2.1, "РаЮ": 1, "ХаТ": 1, "ШуГ": 1, "КрИ": 1,
			"ДуИ": 1, "ШуА": "❌", "БуВ": 1, "СаМ": 0.9, "БлА": 1, "ВыН": 1.1, "ХаК": 1, "МаМ": 1, "ОвК": 0.9,
			"БуА": 2, "БеВ": 1, "НаЕ": 1, "❌": "❌"
		};
		var note = {
			"ЛаН": null, "ИнР": null, "АнД": null, "КлВ": "C Д",  "ГаР": "C",  "ИсМ": null, "ПлС": null, "КиЕ": null, "ХоД": null,
			"СтА": null, "РаМ": "C",  "ПлМ": null, "ЗаВ": null, "ЧеД": null, "РаЮ": null, "ХаТ": null, "ШуГ": null, "КрИ": null,
			"ДуИ": null, "ШуА": null, "БуВ": null, "СаМ": null, "БлА": null, "ВыН": null, "ХаК": null, "МаМ": null, "ОвК": null,
			"БуА": "Д", "БеВ": null, "НаЕ": null, "❌":  null
		};
		for (let i = 1; i < document.getElementsByTagName('button').length; i++) {
			document.getElementsByTagName('button')[i].addEventListener('click', () => {
				alert(names[document.getElementsByTagName('button')[i].textContent]+'\n'+
					weights[document.getElementsByTagName('button')[i].textContent]+'\n'+
					note[document.getElementsByTagName('button')[i].textContent])
			})
			lst.push(document.getElementsByTagName('button')[i].textContent);
		}
		// alert(lst)
		// alert(names[lst[5]])
	</script>
{% endblock body %}