{% extends "Bases/FormBase.html" %}
{% block title %}Скачивание{% endblock title %}
{% block body %}
	<link href="{{ url_for('static', filename='css/down.css') }}" rel="stylesheet" type="text/css" />
	<center>
		<p>
			<button type="button" class="dnld_u" id="Alex">
				Alex
			</button>
		</p>
	</center>
	<div>
		<div class="div" id="win_a" style="display: none">
			<div class="name">
				<h1>Alex</h1>
			</div>
			<div class="down">
				<div>
					<h2>Скачать Alex.</h2>
					<br>
					<img title="Значёк программы." src="{{ url_for('static', filename='img/d/M.ico') }}">
					<br>
					<a target="_blank" href="/down/Alex">Ссылка на скачивание Alex for Windows >= v.2.0.0.</a>
					<br>
					<a target="_blank" href="/down/Alex 1.2.1">Ссылка на скачивание Alex for Windows v.1.2.1.</a>
					<br>
					<a target="_blank" style="pointer-events: none;" href="/down/Alex (AE)">Ссылка на скачивание Alex for Android.</a>
					<span style="color: #102c5d;" title="Появится в будущем.">*</span>
				</div>
			</div>
		</div>
		<br>
	</div>
	<script>
		let Alex = document.getElementById("Alex")
		let wa = document.getElementById("win_a")

		Alex.addEventListener('click', () => {
		if (Alex.className == "dnld_u") {
			Alex.className = "dnld_d";
		}
		else {
			Alex.className = "dnld_u";
		}
		wa.style.display === 'none' ? wa.style.display = 'block' : wa.style.display = 'none';
		});
	</script>
{% endblock body %}