{% extends "Bases/FormBase.html" %}
{% block title %}Найти самолёт{% endblock title %}
{% block body %}
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
	<div class="form">
		<form method="post" action="#">
			<div style=" display: grid; justify-content: center;">
				<span class="required" title="Обязательное заполнение.">*</span>
				<input required type="text" name="flight" class="in" placeholder="Номер рейса.">
				<br>
			</div>
			<center>
				<input type="submit" value="Поиск" class="in submit">
			</center>
		</form>
	</div>
{% endblock body %}