<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" sizes="256x256" type="image/ico" href="{{ url_for('static', filename='img/f.ico') }}">
    <title>Погода</title>
</head>
<body>
    <center><h1>Интерактивная визуализация данных</h1></center>
    <div>{{ graph | safe }}</div>
    <div style="display: flex;justify-content: space-around;font-size: 25px;font-weight: bold;">
        <a style="color: chocolate; text-decoration: none;" href="/Ums?date={{dt_0}}" title="{{dt_0}}">-1 день</a>
        <a style="color: chocolate; text-decoration: none;" href="/Ums?date={{dt_1}}" title="{{dt_1}}">+1 день</a>
        <a style="color: chocolate; text-decoration: none;" href="/Ums">Сегодня</a>
    </div>
</body>
</html>
