{% extends "Bases/FormBase.html" %}
{% block title %}Нет.{% endblock title %}
{% block menu %}
	<ul>
		<li><a href="/lk">{{prompt}}</a></li>
		<li><a href="/flight">Сервис для отслеживания самолётов.</a></li>
		<li><a href="/train">Сервис для отслеживания поездов.</a></li>
		<li><a href="/Ums">Сервис для наблюдения за погодой.</a></li>
		<li><a href="/sun">Сервис для наблюдения за уровнем солнечной активности.</a></li>
		<hr>
		<li><a href="/down">Сервис для скачивания последних версий приложений наших парнёров.</a></li>
		<hr>
		<li><a href="/about">О нас.</a></li>
	</ul>
{% endblock menu %}
{% block body %}
    <center style="color:gainsboro">
        <h1>Нет.</h1>
        <p>
            Кому-то доверяешь больше,
            <br>
            Кому-то нет.
            <br>
            Кто-то достоин секрета,
            <br>
            А кто-то, нет.
            <br>
            Но даже тот, кому ты доверишь,
            <br>
            Может нарушить данный обет.
        </p>
        <p>
            Внезапно психолог приходит спросить:
            <br>
            Можешь кому-то доверить секрет?
            <br>
            Можно подумать, но ведь
            <br>
            Ответ мой теперь очевиден.
            <br>
            Нет.
        </p>
        <p>
            Тут понимаешь внезапно,
            <br>
            Что ты никому, никогда
            <br>
            Здесь не был важен.
            <br>
            Нет. Да, к тебе подходили,
            <br>
            Спрашивали совет,
            <br>
            Но ты не был нужен. Нет.
        </p>
        <p>
            Но тот кто отправил предательский нож,
            <br>
            Идёт с извинением. Ведь в действительности, он не хотел.
            <br>
            Ты не можешь держать обиду более.
            <br>
            Конечно прощаешь, но рану
            <br>
            Нанесённую когда-то,
            <br>
            Можно залечить, но не вылечить, нет.
        </p>
        <p>
            Но после, чувствуешь,
            <br>
            Что чего-то нет.
            <br>
            Какой-то участок души
            <br>
            Не может быть восстановлен.
            <br>
            И он начинает болеть.
        </p>
        <p>
            Начинаешь думать, нужен ли ты?
            <br>
            Приходишь к тому, что нет, не нужен.
            <br>
            Осознаёшь свою незначительность,
            <br>
            Понимаешь, что слишком мал,
            <br>
            Что не имеешь большого значения.
        </p>
        <p>
            <!-- Тут надо понять, что есть те,
            <br>
            Кому можно доверится, родители. -->
            Тут надо понять, что не нужно рвать и метать,
            <br>
            Нужно понять, на самом деле ты не один.
            <br>
            Но у меня не получится. Нет.
            <br>
            Рану нанесённую когда-то,
            <br>
            Можно залечить, но не вылечить.
        </p>
        <b>Нет.</b>
    </center>
    <p></p>
    <a href="no1.JPG">no1</a>
    <a href="no2.jpg">no2</a>
{% endblock body %}