<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Личный кабинет</title>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
	<link rel="icon" sizes="256x256" type="image/ico" href="{{ url_for('static', filename='img/f.ico') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<nav class="navbar">
			<div class="navbar_div">
				<a href="/" class="navbar name">
					<img src="{{ url_for('static', filename='img/pr.png') }}">
					{{name}}
				</a>
				<div>
					<button type="button" class="navbar-button " id="menu_button" onclick="func()">
						{{session['user'].split(' ')[0]}}
						{{session['user'].split(' ')[1]}}
						{{session['user'].split(' ')[2]}}
					</button>
				</div>
			</div>
		</nav>
		<div id="menu" style="display: none; background-color: lightsteelblue;">
			<ul>
				<li><a href="/mail">Почта</a></li>
				<li><a href="/new">Оставить заявку</a></li>
				<li><a href="/update">Обновление данных</a></li>
				<li><a href="/logout">Выход</a></li>
			</ul>
		</div>
	</header>
	<script>
		function func () {
			var menu = document.getElementById("menu");
			var menu_button = document.getElementById("menu_button");
			see_user(menu_button, menu);
		}
	</script>
</body>
</html>