{% extends "Bases/ALINBase.html" %}
{% block title %}Личный кабинет{% endblock title %}
{% block menu %}
	<ul>
		<li><a href="/mail">Почта</a></li>
		<li><a href="/SOVR">Для членов <b>СОВР</b></a></li>
		<li><a href="/new">Оставить заявку</a></li>
		<li><a href="/update">Обновление данных</a></li>
		<li><a href="/get_qr">Создать QR код.</a></li>
		<li><a href="/tests">Мои тесты.</a></li>
		{% for l in add %}
		<li><a href="{{l}}">{{add[l]}}</a></li>
		{% endfor %}
		<li><a href="/logout">Выход</a></li>
	</ul>
{% endblock menu %}
{% block body %}
{% endblock body %}