{% extends "Bases/MainBase.html" %}
{% block title %}Alexis{% endblock title %}
{% block body %}
<div class="chat">
</div>
<script>
    var messages = [];
    try {
        build();
    } catch (e) {
        alert(e);
    }
    setInterval(build, 20000);

    async function build() {
        const URI = document.baseURI.split("/");
        const res = await fetch(`/max/data${(URI[URI.length-1] == "max") ? "/0" : "/"+URI[URI.length-1]}`);
        const messes = await res.json();
        //const messes = {{ms | safe}}
        const chat_el = document.getElementsByClassName("chat")[0];
        const chat = document.createElement("div");
        chat.className = "chat"
        for (let i = 0; i < messes.length; i++) {
            const mess = messes[i];
            if (!(mess in messages) && mess["text"]) {
                const message = document.createElement("div");
                message.className = "message";
                const sender = document.createElement("div");
                sender.className = "sender";
                sender.textContent = mess["sender"];
                const time = document.createElement("div");
                time.className = "time";
                time.textContent = mess["time"];
                const text = document.createElement("div");
                text.className = "text";
                text.innerHTML = mess["text"].replaceAll("\n", "<br>");
                message.appendChild(time);
                message.appendChild(sender);
                message.appendChild(text);
                chat.appendChild(message);
                chat.appendChild(document.createElement("hr"));
                messages.push(mess);
            }
        }
        chat_el.innerHTML = chat.outerHTML;
    }
</script>
{% endblock body %}