{% extends "Bases/MailBase.html" %}
{% block title %}Почта{% endblock title %}
{% block menu %}
	<ul>
		<li><a href="/mail/new">Написать сообщение</a></li>
		<li><a href="/mail">Входящие сообщения</a></li>
		<li><a href="/mail/out">Исходящие сообщения</a></li>
		<li><a href="/lk">Личный кабинет</a></li>
		<li><a href="/logout">Выход</a></li>
	</ul>
{% endblock menu %}
{% block body %}
	<table style="display: block;">
		<tbody style="display: block;">
			{% for mm in messes %}
			<tr class="message">
					<td class="sender">{{mm[1]}}</td>
					<td class="topic">
						{% if mm[1] != "System" %}
						<a href="/mail/answer/{{mm[0]}}" class="ml">
							{{mm[2]}}
						</a>
						{% else %}
						{{mm[2]}}
						{% endif %}
					</td>
					<td class="text">
						<a href="/mail/mess/{{mm[0]}}" class="ml">
							{{mm[3]}}
						</a>
					</td>
					<td class="date">{{mm[4]}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<script>
		function func () {
			var menu = document.getElementById("menu");
			var menu_button = document.getElementById("menu_button");
			see_user(menu_button, menu);
		}
	</script>
{% endblock body %}