{% extends "Bases/MailBase.html" %}
{% block title %}Вход{% endblock title %}
{% block body %}
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
	<div class="form">
		<form method="post" action="/mail">
			<div style="display: grid; justify-content: center;">
				<input required type="email" name="email" class="in" value="{{email}}" placeholder="Электронная почта">
				<br>
				<input required type="password" name="password" class="in" value="{{password}}" placeholder="Пароль">
				<input name="thing" value="login" style="display: none">
				<br>
			</div>
			<center>
				<input type="submit" value="Вход/Регистрация" class="in submit">
			</center>
		</form>
	</div>
{% endblock body %}