{% extends "Bases/MailBase.html" %}
{% block page %}form{% endblock page %}
{% block title %}Написать сообщение{% endblock title %}
{% block body %}
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
	<div class="form">
		<form method="post" action="/mail/new">
			<div style=" display: grid; justify-content: center;">
				<span class="required" title="Обязательное заполнение.">*</span>
				<input value="{{rec}}" required type="email" name="recipient" class="in" placeholder="Электронная почта получателя.">
				<br>
				<span class="required" title="Обязательное заполнение.">*</span>
				<input value="{{top}}" required type="text" name="topic" class="in" placeholder="Тема сообщения.">
				<br>
				<span class="required" title="Обязательное заполнение.">*</span>
				<textarea required type="text" name="text" class="in" placeholder="Текст сообщения."
					style="height: 100px;"></textarea>
				<br>
			</div>
			<center>
				<input type="submit" value="Отправить" class="in submit">
			</center>
		</form>
	</div>
{% endblock body %}