<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Написать сообщение</title>
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
	<link rel="icon" sizes="256x256" type="image/ico" href="{{ url_for('static', filename='img/Mf.ico') }}">
</head>
<body>
	<div class="form">
		<form method="post" action="/mail/new">
			<div style=" display: grid; justify-content: center;">
				<span class="required" title="Обязательное заполнение.">*</span>
				<input value="{{rec}}" required type="email" name="recipient" class="in" placeholder="Электронная почта получателя.">
				<br>
				<span class="required" title="Обязательное заполнение.">*</span>
				<input value="{{top}}" required type="text" name="topic" class="in" placeholder="Тема сообщения.">
				<br>
				<span class="required" title="Обязательное заполнение.">*</span>
				<input required type="text" name="text" class="in" placeholder="Текст сообщения.">
				<br>
				<input name="thing" value="new letter" style="display: none">
				<br>
			</div>
			<center>
				<input type="submit" value="Отправить" class="in submit">
			</center>
		</form>
	</div>
</body>
</html>