<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Найти поезд</title>
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
	<link rel="icon" sizes="256x256" type="image/ico" href="{{ url_for('static', filename='img/f.ico') }}">
</head>
<body>
	<div class="form">
		<form method="post" action="/train">
			<div style=" display: grid; justify-content: center;">
				<span class="required" title="Обязательное заполнение.">*</span>
				<select required name="stationDepartureId" class="in" id="select">
					<option value="">Станция отправления</option>
					{% for in, st in stations.items() %}
	   				<option value={{in}}>{{st}}</option>
					{% endfor %}
   				</select>
				<br>
				<span class="required" title="Обязательное заполнение.">*</span>
				<select required name="stationArrivalId" class="in" id="select">
					<option value="">Станция прибытия</option>
					{% for in, st in stations.items() %}
					<option value={{in}}>{{st}}</option>
					{% endfor %}
				</select>
				<br>
			</div>
			<center>
				<input type="submit" value="Поиск" class="in submit" id="submit">
			</center>
		</form>
	</div>
</body>
</html>