{% extends "Bases/FormBase.html" %}
{% block title %}Найти поезд{% endblock title %}
{% block body %}
	<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
	<div class="form">
		<form method="post" action="/train">
			<div style=" display: grid; justify-content: center;">
				<span class="required" title="Обязательное заполнение.">*</span>
				<input required name="stationDepartureId" class="in" placeholder="Станция отправления" list="stations">
				<br>
				<span class="required" title="Обязательное заполнение.">*</span>
				<input required name="stationArrivalId" class="in" placeholder="Станция прибытия" list="stations">
				<br>
			</div>
			<center>
				<input type="submit" value="Поиск" class="in submit" id="submit">
			</center>
		</form>
	</div>
	<datalist id="stations">
		{% for st in stations %}
		<option value="{{st}}">
		{% endfor %}
	</datalist>
{% endblock body %}