{% extends "Bases/BaseBase.html" %}
{% block title %}Найти поезд{% endblock title %}
{% block body %}
	<div class="form">
		<form method="post" action="/train">
			<div style=" display: grid; justify-content: center;">
				<span class="required" title="Обязательное заполнение.">*</span>
				<input required name="stationDepartureId" class="in" placeholder="Станция отправления" list="stations">
				<br>
				<span class="required" title="Обязательное заполнение.">*</span>
				<input required name="stationArrivalId" class="in" placeholder="Станция прибытия" list="stations">
				<br>
				<span class="required" title="Обязательное заполнение.">*</span>
				<input required type="date" name="date" class="in" min="{{min}}" value="{{today}}" max="{{max}}">
				<br>
				<!--input name="departure" class="in" type="checkbox">
				<br-->
			</div>
			<center>
				<input type="submit" value="Поиск" class="in submit" id="submit">
			</center>
		</form>
	</div>
	<datalist id="stations">
		{% for st in stations %}
		<option value="{{st}}">
		{% endfor %}
	</datalist>
{% endblock body %}