{% extends "Bases/FormBase.html" %}
{% block title %}Анкета{% endblock title %}
{% block body %}
    <link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css" />
    <div class="form">
        <form method="post" action="/test">
            <div>
                <label id="label">
                    Спасибо за участие в опросе.
                    <br>
                    Поверьте, {{session['user'].split(' ')[1]}}, это важно.
                </label>
                <button type="button" id="button">Начать</button>
                <div id="div" style="display: none; justify-content: center;">
                    <label>Каким Вы назвали бы моё отношение к Вам?</label>
                    <input required type="text" name="attitude" class="in" placeholder="Каким Вы назвали бы моё отношение к Вам?">
                    <br>
                    <label>Каким прилагательным Вы бы меня описали?</label>
                    <input required type="text" name="adjective" class="in" placeholder="Каким прилагательным Вы бы меня описали?">
                    <br>
                    <label>Какой глагол у Вас ассоциируется со мной?</label>
                    <input required type="text" name="verb" class="in" placeholder="Какой глагол у Вас ассоциируется со мной?">
                    <br>
                    <label>В каком настроении я обычно нахожусь?</label>
                    <input required type="text" name="mood" class="in" placeholder="В каком настроении я обычно нахожусь?">
                    <br>
                    <label>Что Вы бы мне посоветовали?</label>
                    <textarea required type="text" name="advice" class="in"
                        placeholder="Что Вы бы мне посоветовали?"></textarea>
                    <br>
                </div>
                <div id="div4" style="display: none; justify-content: center;">
                    <input required type="text" name="verdict" class="in" placeholder="Мне место в 8«Б1»?" list="y/n">
                    <datalist id="y/n">
                        <option value="Да!">
                        <option value="Да">
                        <option value="Да?">
                        <option value="Нет">
                        <option value="Нет?">
                        <option value="Нет!">
                    </datalist>
                    <br>
                    <input required hidden type="text" name="name" class="in" value="{{session['user']}}">
                </div>
            </div>
            <div id="div2" style="display: none;">
                <button type="button" id="button2">Ответить</button>
            </div>
            <div id="div3" style="display: none;">
                <center>
                    <input type="submit" value="Отправить" class="in submit">
                </center>
            </div>
        </form>
    </div>
    <script>
        let button = document.getElementById("button")
        let button2 = document.getElementById("button2")
        let label = document.getElementById("label")
        let div = document.getElementById("div")
        let div2 = document.getElementById("div2")
        let div3 = document.getElementById("div3")
        let div4 = document.getElementById("div4")
        button.addEventListener('click', () => {
            div.style.display = 'grid';
            div2.style.display = 'grid';
            button.style.display = 'none';
            label.style.display = 'none';
        });
        button2.addEventListener('click', () => {
            div.style.display = 'none';
            div2.style.display = 'none';
            div3.style.display = 'grid';
            div4.style.display = 'grid';
        });
    </script>
{% endblock body %}