<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Сообщения</title>
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ url_for('static', filename='css/Mstyle.css') }}" rel="stylesheet" type="text/css" />
	<link rel="icon" sizes="256x256" type="image/ico" href="{{ url_for('static', filename='img/f.ico') }}">
</head>
<body>
	<table style="display: block;">
		<tbody style="display: block;">
			{% for mm in messes %}
			<tr class="message">
					<td class="text">
							{{mm[3]}}
					</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>