{% extends "Bases/BaseBase.html" %}
{% block title %}Найдено: {% endblock title %}
{% block body %}
	<link href="{{ url_for('static', filename='css/Mstyle.css') }}" rel="stylesheet" type="text/css" />
	<style>
		.carriage {
			width: 210px;
			height: 45px;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	</style>
	<table style="display: block;">
		<tbody style="display: block;">
			{% for train in trains %}
			<tr class="message">
				<td style="font-size: xx-large;" st="background-image: url(https://www.rzd.ru/api/media/resources/2385015);background-repeat: no-repeat;background-size: cover;">
					<div class="carriage">
						{{ train["trainNumberRus"] }}
					</div>
				</td>
				{% for st in ['departureStation', 'arrivalStation'] %}
				<td st="background-image: url(https://www.rzd.ru/api/media/resources/2385017);background-repeat: no-repeat;background-size: cover;">
					<div class="carriage">
						{{ train[st]["name"] }}
						<br>
						{{ train[st]["localDateTime"] }}
					</div>
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock body %}